.grid{
    border: 1px solid black;
    height: 360px;
    width: 360px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 40px;
    width: 40px;
}

.starting-block{
    background-color: blue;
}

.ending-block{
    background-color: red;
}

.log-left, 
.log-right{
    background-color: lightblue;
}

.car-left,
.car-right{
    background-color: lightgrey;
}

.frog{
    background-color: green;
}