img{
    width: 200px;
    height: 200px;
    flex: 0 0 1;
    margin: 5px
    



}

#grid{
    width: 1050px;
    height: 650px;
   padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white
    

}




